.movie-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.search-sec {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 0 0;
}

form {
  display: flex;
  gap: 2rem;
}
